.temp-btns {
  display: flex;
}

.temp-btn {
  margin-right: 0px;
  background-color: rgba(76, 82, 85, 0.4);
  text-align: center;
  transition: .3s;
}

.temp-btn-f {
  border-radius: 5px 0 0 5px;
}

.temp-btn-c {
  border-radius: 0 5px 5px 0;
  margin-right: 10px;
}

.temp-btn-active {
  background-color: rgba(174, 181, 185, 0.5);
}

@media all and (max-width: 640px) {
  .temp-btn-f  {
    margin-right: 0;
  }
}
